// $container-width: 1200px;
// $container-padding: 15px;

$font-main: "Inter", sans-serif;
$font-accent: "Poppins", sans-serif;
$font-nav: "Space Grotesk", sans-serif;

$neutral: #141718;
$white: #fff;
$text-color: #000;
$text-accent: #121212;
$text-logo: #6c7275;
$text-logo2: #e8ecef;
$text-link: #fefefe;
$plate: #F3F5F7;
$yellow: #ffab00;
$nav: #FFAB00A3;
$blue: #377dff;
$value-bg: #F3F5F7;

$laptop: 1199px;
$tablet-bg: 940px;
$tablet: 764px;
$phone-bg: 480px;
