.btn-fav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.5);
    transition: all 0.2s ease-in;

    &--active {
        stroke:#ac3e3e; 
        fill:#ac3e3e;
    }

    svg {
        fill: #6C7275;
    }

    &:hover {
        svg {
            fill: #ac3e3e; 
        }
    }
}
