.hero {
  height: 820px;
  background-color: $nav;
  background-image: url('src/assets/main11.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mediaLaptop {
    height: 500px;
  }

  @include mediaTablet {
    height: auto;
    padding-bottom: 390px;
    background-image: url('src/assets/bg-mobile.jpeg');
  }
}

.hero__container {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: calc((100% - 1184px) / 2 + (1184px / 2));
  padding-right: calc((100% - 1184px) / 2);

  @include mediaLaptop {
    padding-right: 32px;
  }

  @include mediaTablet {
    height: auto;
    display: block;
    padding: 40px 32px;
    text-align: center;
  }
}

.hero__content {
  color: $text-accent;
}

.hero__title {
  font-family: 'Poppins';
  font-size: 80px;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: -3px;
  text-align: left;
  text-wrap: balance;

  span {
    color: $blue;
  }

  @include mediaLaptop {
    font-size: 60px;
  }

  @include mediaTablet {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }
}

.hero__desc {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 400;

  @include mediaTablet {
    font-size: 16px;
  }
}

.hero__link {
  margin-top: 28px;

  @include mediaTablet {
    margin-top: 16px;
    font-size: 14px;
  }
}

.hero__link a {
  color: $white;

  @include mediaTablet {
    font-size: 14px;
  }
}
