.promotion {
    margin-top: 100px;
    background-color: rgba($yellow, 0.4);
    display: grid;
    gap: 24px;
}

.promotion__content {
 
}

.promotion__desc {

}

.promotion__tagline {

}

.promotion__title {

}

.promotion__text {

}

.promotion__timer {

}

.promotion__expires {

}

.timer {
    
}

.promotion__btn {
    
}
